body {
    margin: 0px,5px,;
}

.main {
    display: flex;

}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color:white;
}

.navbar h4,h5 {
    margin: 0px;
    padding-left: 10px;
}

.navbar a {
    margin:0px;
    color: white;
    padding-right: 10px;
}

.leftbar {
    width: 25%;
}

.leftbar img {
    width: 100%;
}

.user-data {
    display: flex;
}

.user-data h5 {
    margin: 0px;
}

.user-data a {
    padding-left: 5px;
    text-decoration: none;
}

.user-description p{
    margin: 0px;
}

.menu a {
    display: block;
    border: solid 1px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.content h4 {
    margin: 0px;
}

.content img {
    width: 100%;
    border-radius: 100px;
}

.rightbar {
    width: 25%;
    
#view-more-button {
    background-color: blue;
}

.other-info {
    border: solid 1px;

}

.other-info h4,h5,h6 {
    margin: 0px;
}